numpy
scipy<=1.9.3
matplotlib
rasterio>=1.2.7
netCDF4
xarray
geojson
shapely
pooch>=1.0.0
gmsh
pygmsh<=6.1.1
meshio>=3.3.1
MeshPy
tqdm
ipykernel[doc]
nbconvert[doc]
roltrilinos @ git+https://github.com/icepack/Trilinos@190384db6cb1d148cea36f2d8d69033a90b2d991
ROL @ git+https://github.com/icepack/pyrol@3bc1802e436eda8949a286abf54528c7a882f706
